# Environment files
.env

# Auto-gen protobuf code
server/proto
producer/proto

# IDE
.vscode

# CMake & Makefiles
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
_deps
build

# Executables
producer/flux_producer